  <form action='/send-sms' method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-xs m-8">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="Message">
        Message
      </label>
      <textarea class="shadow appearance-none border rounded w-full pt-10 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="New Message" autofocus name="message"></textarea>
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
     <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Phone" name="phone">
     
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
     Send Message
      </button>
      
    </div>
  <p class="text-center text-gray-500 text-xs">
    &copy;{{{fecha}}} Acme Corp. All rights reserved.
  </p>
  </form>

